*{
    box-sizing: border-box;
}
:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}
body{
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
nav{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  background-color: var(--secondary-color);
}
.search{
    background-color: transparent;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    margin-right: 5%;
    width: 100%;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}
.search::placeholder{
    color: white;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}
.movie>img{
    width: 100%;

}
.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie-info h3{
    margin-top: 0;
}
.movie-info>span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bolder;
}
.green{
    color: lightgreen;
    font-weight: bolder;
}
.orenge{
    color: orange;
    font-weight: bolder;
}
.red{
    color: red;
    font-weight: bolder;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(+101%);
  transition: transform 0.3s ease-in;
}
.movie:hover .overview{
    transform: translateY(0);
}

#slideshow img{
    width: 100%;
    height: 600px;
}

#toptrending{
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 5%;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 50px;
    border: 2px solid white;

}
nav{
    width: 100%;
}
#toptrending:hover{
    color: gray;
    border: 2px solid white;
}

